<!-- incorporate skills, interests and work content here -->
<div class="container">
  <%= render "layouts/navbar" %>
  <h2><span class="work">What I Do</h2>

  <div class="row" id="work-sample-block">
    <div class="col-md-4">
      <img><%= image_tag("goran-ivos-246271-unsplash.jpg", :alt => "maggie-summers-pic", size: "250x250" ) %></img>
    </div>
    <div class="col-md-8">
      <h4>Programming</h4>
      <p>I recently graduated from Epicodus after training for 20 weeks to become a full stack developer. I became skilled in CSS/HTML, JavaScript/Angular, and Ruby/Rails. It was a transformative 20 weeks, and more than anything, I learned how to think like a developer. Best of all, I learned how to create things for the web.</p>
      <p>Check out my <a href="https://github.com/summersmaggie">Github.</a></p>
      <p>Like this website? I built it with Ruby on Rails.</p>
    </div>
  </div>

  <div class="row" id="work-sample-block">
    <div class="col-md-4">
      <img>
      <%= image_tag("eaters-collective-129481-unsplash.jpg", :alt => "person-taking-photo-of-brunch", size: "250x250") %></img>
    </div>
    <div class="col-md-8">
      <h4>Social Media</h4>
      <p> I worked in social media for 5 years before making the switch to programming. My roles ranged from social media manager to strategist to community manager, and the majority was spent in a fast-paced agency setting.</p>
      <p>Find out more.</p>
    </div>
  </div>

  <div class="row" id="work-sample-block">
    <div class="col-md-4">
      <img><%= image_tag("the-climate-reality-project-349094-unsplash.jpg", :alt => "maggie-summers-pic", size: "250x250") %></img>
    </div>
    <div class="col-md-8">
      <h4>Teaching</h4>
      <p>I've taught various different seminars and lessons about social media to many different types of Portlanders, including small business owners of Portland.</p>
      <p>Find out more.</p>
    </div>
  </div>
</div>

<%= render "skills/skill_list" %>

<%= render "interests/interest_list" %>
