<div class="logo">
  <%= link_to image_tag("BLK-Wordmark copy.png", :alt => "maggie-summers", size: "430x51"), '/' %>
</div>

<nav class="navbar navbar-expand-lg navbar-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <a class="nav-item nav-link active"><%= link_to "ABOUT", '/' %></a>
        <a class="nav-item nav-link active"><%= link_to "WORK", '/work_samples' %></a>
        <a class="nav-item nav-link active"><%= link_to "BLOG", '/blog' %></a>
        <a class="nav-item nav-link active"><%= link_to "CONTACT", '/contacts' %></a>
        <% if current_user %>
        <a class="nav-item nav-link active"><%= link_to "SIGN OUT", '/users/sign_out', method: 'delete' %></a>
        <% else %>
        <a class="nav-item nav-link active"><%= link_to "SIGN IN", '/users/sign_in' %></a>
        <% end %>
      </ul>
    </div>
</nav>
