<div class="logo">
  <%= image_tag("BLK-Wordmark copy.png", :alt => "maggie-summers", size: "430x51") %>
</div>

<div class="navbar">
  <nav class="navbar navbar-transparent">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li><%= link_to "ABOUT", '/' %></li>
        <li><%= link_to "WORK", '/work_samples' %></li>
        <li><%= link_to "BLOG", '/posts' %></li>
        <li><%= link_to "CONTACT", '/contacts' %></li>
        <% if current_user %>
        <li><%= link_to "SIGN OUT", '/users/sign_out', method: 'delete' %></li>
        <% else %>
        <li><%= link_to "SIGN IN", '/users/sign_in' %></li>
        <% end %>
      </ul>
    </div>
  </nav>
</div>
