<head>
  <title>Maggie Summers</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= favicon_link_tag 'BLK-Letter-Mark-copy.png' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link href="https://fonts.googleapis.com/css?family=Gothic+A1|Old+Standard+TT|Open+Sans" rel="stylesheet">


  <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
</head>

<div class="box">
  <nav class="navbar navbar-expand-lg navbar-light" id="navbar">

    <a class="navbar-brand" href="/">
      <%= image_tag("BLK-Wordmark copy.png", :alt => "maggie-summers", size: "320x38") %>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item nav-link active"><%= link_to "ABOUT", '/about' %></li>
        <li class="nav-item nav-link active"><%= link_to "WORK", '/work_samples' %></li>
        <!-- <li class="nav-item nav-link active"><%= link_to "BLOG", '/blog' %></li> -->
        <li class="nav-item nav-link active"><%= link_to "CONTACT", '/contacts' %></li>
        <!-- <% if current_user %>
        <li class="nav-item nav-link active"><%= link_to "SIGN OUT", '/users/sign_out', method: 'delete' %></li>
        <% else %>
        <li class="nav-item nav-link active"><%= link_to "SIGN IN", '/users/sign_in' %></li>
        <% end %> -->
      </ul>
    </div>
  </nav>

</div>
