<!DOCTYPE html>
<html>
  <head>
    <title>Maggie Summers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'BLK Leter Mark copy.png' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Gothic+A1|Roboto" rel="stylesheet">
  </head>

  <body id="canvas">
    <%= yield %>
  </body>
</html>
